<div style="width: 100% !important;">
    <div class="mb-4 pb-4">
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="mtitle"> <i class="iconfont icon-power"></i> 开机</p>
                    <p class="mdesc">这可能需要2到3分钟才能完成</p class="">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#start">开机</button>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="mtitle"> <i class="iconfont icon-error"></i> 关机</p>
                    <p class="mdesc">以防数据未保存谨慎操作</p class="">
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#mclose">关机</button>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="mtitle"> <i class="iconfont icon-zhongzhi"></i> 重启</p>
                    <p class="mdesc">以防数据未保存谨慎操作</p class="">
                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal"
                        data-target="#restart">重启</button>
                </div>
            </div>
        </div>
    </div>
</div>