{include file="public:header"}

<body>
  <div class="m-upload">
    <div class="upload-box">
      <div class="upload-header">
        <div class="upload-header-left">
          <img src="/static/install/images/geestack.png" alt="">
          <span>安装向导</span>
        </div>
        <div class="upload-header-right">
          <a class="ad_install_ready_img" href="#" target="_blank"><img src="" /></a>
        </div>
      </div>
      <div class="upload-body1">
        <div class="upload-body-box1">
          <div class="title">
            <div>2.</div>
            <div class="">
              <div>运行环境检测</div>
              <span>检测服务器环境以及设置</span>
            </div>
            <div class="line">
              <div class="line-d">
                <span>协议查看并确认</span>
                <span>运行环境检测</span>
                <span>数据库和站点管理员信息</span>
                <span>安装</span>
              </div>
              <div class="line-s">
                <div class="active1"><span></span></div>
                <div class="active1 active"><span></span></div>
                <div><span></span></div>
                <div><span></span></div>
              </div>
            </div>
          </div>
          <div class="center-text">
            <div>
              <p>环境检查</p>
              <table class="table">
                <tbody>
                  <tr>
                    <th width='25%'>项目</th>
                    <th width='25%'>所需配置</th>
                    <th width='25%'>最佳</th>
                    <th width='25%'>当前服务器</th>
                  </tr>
                  <tr>
                    <td>操作系统</td>
                    <td>不限制</td>
                    <td>类Unix</td>
                    <td><span class="success"></span>{$check_data.os}</td>
                  </tr>
                  <tr>
                    <td>PHP版本</td>
                    <td>7.0+</td>
                    <td>7.2</td>
                    <td><span class="success"></span>{$check_data.phpversion}</td>
                  </tr>


                </tbody>
              </table>
            </div>
            <div>
              <p>模块检测</p>
              <table class="table">
                <tbody>
                  <tr>
                    <th width='50%'>目录文件</th>
                    <th width='25%'>所需状态</th>
                    <th width='25%'>当前状态</th>
                  </tr>
                  {foreach name="result_envir" item="vo" key="k" }
                  <tr>
                    <td>{$k}</td>
                    <td><span class="success"></span>可写</td>
                    <td>{$vo}</td>
                  </tr>
                  {/foreach}
                </tbody>
              </table>
            </div>
            <div>
              <p>目录文件权限检查</p>
              <table class="table">
                <tbody>
                  <tr>
                    <th width='50%'>目录文件</th>
                    <th width='25%'>所需状态</th>
                    <th width='25%'>当前状态</th>
                  </tr>
                  {foreach name="result_file" item="vo" key="k" }
                  <tr>
                    <td>{$k}</td>
                    <td><span class="success"></span>可写</td>
                    <td>{$vo}</td>
                  </tr>
                  {/foreach}
                </tbody>
              </table>
            </div>

            <div>
              <p>函数依赖性检查</p>
              <table class="table">
                <tbody>
                  <tr>
                    <th width='50%'>函数名称</th>
                    <th width='25%'>检查结果</th>
                    <th width='25%'>建议</th>
                  </tr>
                  {foreach name="result_fun" item="value" key="key" }
                  <tr>
                    <td>{$key}</td>
                    <td><span class="success"></span>可写</td>
                    <td>{$value}</td>
                  </tr>
                  {/foreach}

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="upload-body-footer">
          <button type="button" onclick="fun_href()">上一步</button>
          <button type="button" onclick="next_href()">下一步</button>
        </div>
      </div>
      <div class="upload-footer">
        {include file="public:copyright"}
      </div>
    </div>
  </div>
</body>
<script>
  function fun_href() {
    window.location.href = '/install/step1'
  }

  function next_href() {
    window.location.href = '/install/step3'
  }
</script>

</html>