<style>
  .ecs-tab-box .tab-content {
    border: solid 1px #cfd6e3;
    padding: 40px;
    background-color: #fff;
  }
  .app-car-wrap {
    display: inline-block;
    width: 360px;
    height: 240px;
    background: url(__THEMES__/defualt/img/ecs/product_sence_bg.png) no-repeat center;
}
.app-car-title {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    padding: 24px 0 22px;
}
.app-car-content {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    /* padding: 0 40px; */
}

.app-car-content div {
    float: left;
    margin-left:40px;
    width: 120px;
    line-height: 2;
    margin-bottom: 20px;
}

.ecs-tab-box .nav-link.active{
        background-color: transparent !important;
    }
</style>
<div class="ecs-tab-box">
  <div class="py-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">入门型</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">进阶型</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
          aria-selected="false">专业型</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
          aria-selected="false">理想型</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-7">
            <h4 class="text-dark font-weight-bold">适用对象</h4>
            <p class="mb-4">小型企业官网或者个人站长</p>
            <h4 class="text-dark font-weight-bold">上云建议</h4>
            <p class="mb-4">网站初始阶段并发访问量小，只需要一台低配置的服务器即可，应用程序，数据库，文件等所有资源均在一台服务器上，后期可以基于云计算弹性特征随时调整资源配置，无需担心低配服务器在业务突增时带来的资源不足问题。
            </p>
            <p class="text-primary">适用于个人网站初始阶段并发访问量小，经济配置省钱适用。</p>
          </div>
          <div class="col-4">
            <div class="app-car-wrap">
              <div class="app-car-title">推荐配置</div>
              <div class="app-car-content clearfix">
                <div>CPU：2核</div>
                <div>内存：2G</div>
                <div>带宽：5M</div>
                <div>默认防护：5/20G</div>
              </div>
              <a href="#" class="btn btn-outline-light "  style="margin-left: 40px;">立即购买</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-7">
            <h4 class="text-dark font-weight-bold">适用对象</h4>
            <p class="mb-4">地方与行业门户网站</p>
            <h4 class="text-dark font-weight-bold">上云建议</h4>
            <p class="mb-4">社区网站业务相对个人网站，有更多的用户访问，为保证性能，此时就需要对带宽、内存、CPU进行优化，以便提供更大的空间，提升访问速度。
            </p>
            <p  class="text-primary">适合流量适中的网站应用，或简单开发环境、代码存储库等。</p>
          </div>
          <div class="col-4">
            <div class="app-car-wrap">
              <div class="app-car-title">推荐配置</div>
              <div class="app-car-content clearfix">
                <div>CPU：4核</div>
                <div>内存：4G</div>
                <div>带宽：5M</div>
                <div>默认防护：5/20G</div>
              </div>
              <a href="#" class="btn btn-outline-light"  style="margin-left: 40px;">立即购买</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <div class="row">
          <div class="col-7">
            <h4 class="text-dark font-weight-bold">适用对象</h4>
            <p class="mb-4">网上商城、团购网</p>
            <h4 class="text-dark font-weight-bold">上云建议</h4>
            <p class="mb-4">随着电子商务的不断发展，众多企业逐渐意识到电子商务的重要性。该配置适用于开发、测试、上线初期，后期可根据您的业务的实际增长进行增减，可灵活控制。
            </p>
            <p class="text-primary">计算能力满足90%云计算使用者需求，适合企业运营活动、并行计算应用、普通数据处理服务等。</p>
          </div>
          <div class="col-4">
            <div class="app-car-wrap">
              <div class="app-car-title">推荐配置</div>
              <div class="app-car-content clearfix">
                <div>CPU：8核</div>
                <div>内存：8G</div>
                <div>带宽：5M</div>
                <div>默认防护：5/20G</div>
              </div>
              <a href="#" class="btn btn-outline-light"  style="margin-left: 40px;">立即购买</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="row">
          <div class="col-7">
            <h4 class="text-dark font-weight-bold">适用对象</h4>
            <p class="mb-4">社区SNS/论坛/ERP/OACRM、网络游戏等其他高端服务</p>
            <h4 class="text-dark font-weight-bold">上云建议</h4>
            <p class="mb-4">适合对计算性能要求较高的应用场景，如企业运营活动、批量处理、分布式分析、游戏app等。
            </p>
            <p class="text-primary">网络游戏在近年来发展迅速，除了传统网络终端之外，网页游戏、手机游戏等发展迅速，也让整个游戏市场愈发壮大。七朵云按需付费的方式节省了大量现金流和运营费用。</p>
          </div>
          <div class="col-4">
            <div class="app-car-wrap">
              <div class="app-car-title">推荐配置</div>
              <div class="app-car-content clearfix">
                <div>CPU：16核</div>
                <div>内存：16G</div>
                <div>带宽：5M</div>
                <div>默认防护：5/20G</div>
              </div>
              <a href="#" class="btn btn-outline-light" style="margin-left: 40px;">立即购买</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myTab a').on('mouseover mouseout', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>