  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$basicInfo.name}</title>
  <link rel="Shortcut Icon" href="{$basicInfo.favicon}">
  <link rel="Bookmark" href="{$basicInfo.favicon}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  
  <!-- DataTables -->
  <!-- <link rel="stylesheet" href="__STATIC__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"> -->
  <!-- daterange picker -->
  <link rel="stylesheet" href="__STATIC__/bower_components/bootstrap-daterangepicker/daterangepicker.css">

  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="__STATIC__/plugins/iCheck/all.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="__STATIC__/plugins/timepicker/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="__THEMES__/manager/css/lib/bootstrap.min.css">
  <link rel="stylesheet/less" href="__THEMES__/manager/css/less/style.less">
  <script src="__THEMES__/manager/js/lib/less.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->