{extend name='Common/index' /}
{block name='content'}
<div class="card bg-white">
  <div class="card-header toolbar bg-light d-flex p-3">
    <h5 class="m-0">{$info?'修改':'新增'}新闻分类</h5>
  </div>
  <div class="card-body pb-0">
    <div class="table-box">
      <div class="form">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">分类名称</label>
          <div class="col-2">
            <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="请输入分类名称" value="{$info?$info['name']:''}" autocomplete="off">
            <input type="hidden"  name="id" value="{$info?$info['id']:''}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-2">
            <button type="button" class="btn btn-primary btn-sm sub">提交</button>
            <a href="javascript:history.go(-1);" class="btn btn-default btn-sm">返回</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name='js'}
<!-- <script src="__STATIC__/dist/js/formBasic.js"></script> -->
<script>
$('.sub').click(function(){
  let names = document.querySelectorAll('.form-group > div > [name]'),
      vals = {};
  names = [].slice.call(names);
  names.map((e)=>{
    vals[e.name] = e.value;
  });
  ajax('{:url("manager/News/addclassauth")}',vals,'post').then(e=>{
    if(e.status === 200){
      alert(e.msg);
      location.href="{:url('manager/News/class')}";
    } else {
      alert(e.msg);
    }
  });
});
</script>
{/block}
 