<div class="course-box">
    <div class="py-5 row">
        <div class="col-5 position-relative margin-r">
            <div class="card11">
                <img src="__THEMES__/defualt/img/about/year-default-left-icon.png"
                    alt="" class="card_title">
                    <span class="card_title card_y">2018</span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><span>09</span>月 武汉动态BGP节点、南京动态BGP节点上线</p>
                        <p class="card-text"><span>07</span>月 云裸金属服务器、大带宽、云数据库开启内测</p>
                        <p class="card-text"><span>03</span>月 云负载均衡上线</p>
                    </div>
                </div>
            </div>
            <div class="card12">
                <img src="__THEMES__/defualt/img/about/year-default-left-icon.png"
                    alt="" class="card_title">
                    <span class="card_title card_y">2016</span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><span>09</span>月 云与电信（内蒙古）战略合作</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <img src="__THEMES__/defualt/img/about/course-clock-bar.png"
                alt="">
        </div>
        <div class="col-5 position-relative margin-l">
            <div class="card21">
                <img src="__THEMES__/defualt/img/about/year-light-right-icon.png"
                    alt="" class="card_title">
                    <span class="card_title card_y">2019</span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><span>07</span>月 深圳节点正式上线开放</p>
                    </div>
                </div>
            </div>
            <div class="card22">
                <img src="__THEMES__/defualt/img/about/year-default-right-icon.png"
                    alt="" class="card_title">
                    <span class="card_title card_y">2017</span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><span>07</span>月 深圳节点正式上线开放</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .course-box>div:nth-child(1) {
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
    }

    .course-box .margin-r {
        margin-right: 60px;
    }
    .course-box .margin-l {
        margin-left: 3px;
    }
    .course-box .card_y {
        padding: 7px 26px;
    }

    .course-box .card11 {
        width: 100%;
        position: absolute;
        top: 250px;
    }
    .course-box .card12 {
        width: 100%;
        position: absolute;
        top: 500px;
    }
    .course-box .card11 .card_title {
        position: absolute;
        right: -121px;
        top: 20px;
        z-index: 1;
        color: #999999;
    }

    .course-box .card21 {
        width: 100%;
        position: absolute;
        top: 300px;
    }
    .course-box .card22 {
        width: 100%;
        position: absolute;
        top: 400px;
    }

    .course-box .card22 .card_title{
        position: absolute;
        left: -123px;
        top: 5px;
        z-index: 1;
        color: #999999;
    }


    .course-box .card_title {
        position: absolute;
        right: -121px;
        top: 20px;
        z-index: 1;
        color: #999999;
    }



    .course-box .card21{
        width: 100%;
        position: absolute;
        top: 140px;
        border: 1px solid #00aaff;
        color: #00aaff;
    }

    .course-box .card21 .card{
        border:0px solid transparent;
    }

    .course-box .card21 .card_title{
        position: absolute;
        left: -123px;
        top: 5px;
        z-index: 1;
        color: #00aaff;
    }
</style>