{extend name='Common/index' /}
{block name='content'}
<div class="about-page">
    <div class="module-banner">
        <div class="module-banner-bg">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-introduce"
                        role="tab" aria-controls="nav-home" aria-selected="true">公司简介</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-course" role="tab"
                        aria-controls="nav-profile" aria-selected="false">发展历程</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-news" role="tab"
                        aria-controls="nav-contact" aria-selected="false">新闻公告</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-join" role="tab"
                        aria-controls="nav-contact" aria-selected="false">加入我们</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-connect" role="tab"
                        aria-controls="nav-contact" aria-selected="false">联系我们</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-law" role="tab"
                        aria-controls="nav-contact" aria-selected="false">法律声明</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-friend" role="tab"
                        aria-controls="nav-contact" aria-selected="false">友情链接</a>
                </div>
            </nav>
        </div>
        <div style=" background: #ffffff;">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-introduce" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    {include file='home@About:introduce'}
                </div>
                <div class="tab-pane fade" id="nav-course" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {include file='home@About:course'}
                </div>
                <div class="tab-pane fade" id="nav-news" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {include file='home@About:news'}
                </div>
                <div class="tab-pane fade" id="nav-join" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {include file='home@About:join'}
                </div>
                <div class="tab-pane fade" id="nav-connect" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {include file='home@About:connect'}
                </div>
                <div class="tab-pane fade" id="nav-law" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {include file='home@About:law'}
                </div>
                <div class="tab-pane fade" id="nav-friend" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {include file='home@About:links'}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .about-page .module-banner-bg {
        position: relative;
        height: 500px;
        background: url("__THEMES__/defualt/img/about/about-banner.jpg") no-repeat center center;
    }

    .module-banner-bg nav {
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .about-page .nav-tabs {
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
        line-height: 35px;
    }

    .about-page .nav-tabs .nav-item {
        width: 14%;
        text-align: center;
        font-size: 16px;
        border-radius: 0;
        color: #ffffff;
    }

    .about-page .nav-tabs .nav-item.active {
        color: #000;
    }

    .about-page .nav-tabs .nav-item:hover {
        color: #000;
        background-color: #ffffff;
    }
</style>
{/block}

{block name='js'}
<script>

</script>
　<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WO1na57Gj3OqKP9Oxq2SHp93xo52wGzP"></script>
<script>
    // 谷歌地图：33.6898102200,116.9695301500
    // 百度地图：33.6957326700,116.9760650300
    // 腾讯高德：33.6898171300,116.9695580000
    // 谷歌地球：33.6913769100,116.9641818200

    var sContent = "安徽省宿州市埇桥区高新技术产业开发区呈泰研发楼A座3楼301室";
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.9760650300, 33.6957326700);
    map.centerAndZoom(point, 15);
    var infoWindow = new BMap.InfoWindow(sContent); // 创建信息窗口对象
    map.openInfoWindow(infoWindow, point); //开启信息窗口
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            var mk = new BMap.Marker(point);
            map.addOverlay(mk);
            map.panTo(point);
        } else {}
    }, {
        enableHighAccuracy: true
    })
</script>
{/block}