<div class="introduce-box">
    <div class="py-3">
        <h1 class="text-center my-5">了解七多云</h1>
        <div class="d-flex bd-highlight text-center">
            <div class="p-4 flex-fill bd-highlight flex_1">
                <p class="title">2015</p>
                <span class="desc">云成立</span>
            </div>
            <div class="p-4 flex-fill bd-highlight flex_2">
                <p class="title">100,000+</p>
                <span class="desc">服务客户超过10万</span>
            </div>
            <div class="p-4 flex-fill bd-highlight flex_3">
                <p class="title">10</p>
                <span class="desc">十年经验技术积累</span>
            </div>
            <div class="p-4 flex-fill bd-highlight flex_4">
                <p class="title">5+</p>
                <span class="desc">自主知识产权</span>
            </div>
            <div class="p-4 flex-fill bd-highlight flex_5">
                <p class="title">3+</p>
                <span class="desc">国际认证</span>
            </div>
        </div>
        <div class="introduce-desc mt-5">
            <p style="text-indent: 2em;">
                专注为个人开发者用户、中小型、大型企业用户提供一站式核心网络云端部署服务，促使用户云端部署化简为零，轻松快捷运用云计算。云是国内为数不多具有ISP/IDC双资质的专业云计算服务商，同时持有系统软件著作权证书、CNNIC地址分配联盟成员证书，通过了ISO27001信息安全管理体系国际认证、ISO9001质量保证体系国际认证。
            </p>
            <p style="text-indent: 2em;">
                云计算服务品牌，专注为个人开发者用户、中小型、大型企业用户提供一站式核心网络云端部署服务，促使用户云端部署化简为零，轻松快捷运用云计算。云是国内为数不多具有ISP/IDC双资质的专业云计算服务商，同时持有系统软件著作权证书、CNNIC地址分配联盟成员证书，通过了ISO27001信息安全管理体系国际认证、ISO9001质量保证体系国际认证。
            </p>
            <p style="text-indent: 2em;">
                自成立以来，云始终本着质量为本、客户为根、勇于拼搏、务实创新的理念，不断提升产品硬件性能、创新底层虚拟化技术、革新用户服务体验，助力更多的合作伙伴、中小企业、开发者能够受益于云计算带来的便利和价值，从而共同打造全面开放的云端生态系统，促进云计算产业健康良性发展。未来，云在提供专业云计算服务的同时，还将聚集云计算行业产业链各环节优势资源，继续发力云计算市场充分发挥聚合能力，实现多方共赢。
            </p>
        </div>
    </div>
    <div class="py-3 introduce-wrap2">
        <div>
            <h1 class="text-center my-5">荣誉铸就信赖</h1>
            <div class="desc1">云通过国内外权威标准的合规认证，共获取了10多项专项认证，为了用户的安全性和合规性保证努力前行</div>
            <div class="row w-100">
                <div class="card mr-4" style="width: 49%;">
                    <div class="card-body">
                        <div class="row">
                            <img src="__THEMES__/defualt/img/about/certificate-pic-01.png" alt="" width="16%" class="mr-2" >
                            <div style="width: 80%;" class="py-2">
                                <p class="title1">全国ISP/IDC资质持有企业</p>
                                <p class="m-0 introduce">ISP资质(Internet Service Provider），是指互联网服务的提供商，也指互联网接入的服务的单位，比如中国电信等ISP互联网接入单位跟各地的分支机构。是由国家工业和信息化部批准的正式运营企业……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 48%;">
                    <div class="card-body">
                        <div class="row">
                            <img src="__THEMES__/defualt/img/about/certificate-pic-01.png" alt="" width="16%" class="mr-2" >
                            <div style="width: 80%;" class="py-2">
                                <p class="title1">ISO 9001国际质量管理体系认证</p>
                                <p class="m-0 introduce">ISO 9001是由全球第一个质量管理体系标准 BS 5750（BSI撰写）转化而来的，ISO 9001是迄今为止世界上最成熟的质量框架，全球有161个国家/地区的超过75万家组织正在使用这一框架……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mr-4 mt-4" style="width: 49%;">
                    <div class="card-body">
                        <div class="row">
                            <img src="__THEMES__/defualt/img/about/certificate-pic-04.png" alt="" width="16%" class="mr-2" >
                            <div style="width: 80%;" class="py-2">
                                <p class="title1">云管家软件证书</p>
                                <p class="m-0 introduce">云管家是云计算推出的一款基于Windows平台的服务器站点管理软件。一键创建网站、FTP、数据库，帮您快速创建属于自己的Web站点。云管家支持mysql、mssql数据库创建、管理……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4" style="width: 48%;">
                    <div class="card-body">
                        <div class="row">
                            <img src="__THEMES__/defualt/img/about/certificate-pic-04.png" alt="" width="16%" class="mr-2" >
                            <div style="width: 80%;" class="py-2">
                                <p class="title1">云应用管理系统</p>
                                <p class="m-0 introduce">云云监控是一项针对云服务资源和互联网应用进行监控的服务。云监控服务可用于收集获取云服务器资源的监控指标，探测互联网服务可用性，以及针对指标设置警报。云监控服务能够监控云……</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-5">
                <button type="button" class="btn btn-lg btn-primary">查看全部荣耀</button>
            </div>
        </div>
    </div>
    <div class="py-3 introduce-wrap3">
        <div>
            <h1 class="text-center my-5">科技改变世界</h1>
            <div class="row w-100 introduce-desc">
                <p  style="text-indent: 2em;">云自主研发的纯SSD架构云服务器，以50,000IOPS随机读写速度、800Mb/s吞吐量的高性能数值刷新行业记录。其整合资源、细化资源到落地资源的服务举措，旨在打造差异化的开放式闭环生态系统，帮助用户快速构建稳定、安全的云计算环境。且云计算强大的计算能力和弹性扩展优势有效降低用户开发运维难度和整体IT成本，让用户能更专注于核心业务的创新，实现自身更多价值。</p>
            </div>
            <div class="row text-center list">
                <div class="p-4">
                    <img src="__THEMES__/defualt/img/about/product-icon-new-01.png" alt="">
                    <p class="title3 mt-2">云服务器</p>
                    <span class="desc3">高速稳定高弹性的计算服务</span>
                </div>
                <div class="p-4">
                    <img src="__THEMES__/defualt/img/about/product-icon-new-02.png" alt="">
                    <p class="title3 mt-2">服务器托管</p>
                    <span class="desc3">安全贴心高品质的托管服务</span>
                </div>
                <div class="p-4">
                    <img src="__THEMES__/defualt/img/about/product-icon-new-03.png" alt="">
                    <p class="title3 mt-2">云虚拟主机</p>
                    <span class="desc3">基于云计算的虚拟主机服务</span>
                </div>
                <div class="p-4">
                    <img src="__THEMES__/defualt/img/about/product-icon-new-04.png" alt="">
                    <p class="title3 mt-2">SSL证书</p>
                    <span class="desc3">提供一站式的证书部署服务</span>
                </div>
                <div class="p-4">
                    <img src="__THEMES__/defualt/img/about/product-icon-new-05.png" alt="">
                    <p class="title3 mt-2">域名注册</p>
                    <span class="desc3">提供五星级的域名注册服务</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .introduce-box >div:nth-child(1){
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
    }
    .introduce-box .flex_1 {
        height: 100%;
        background: url('__THEMES__/defualt/img/about/about-icon-new-01.png') no-repeat center;
    }

    .introduce-box .flex_2 {
        height: 100%;
        background: url('__THEMES__/defualt/img/about/about-icon-new-02.png') no-repeat center;
    }

    .introduce-box .flex_3 {
        height: 100%;
        background: url('__THEMES__/defualt/img/about/about-icon-new-03.png') no-repeat center;
    }

    .introduce-box .flex_4 {
        height: 100%;
        background: url('__THEMES__/defualt/img/about/about-icon-new-04.png') no-repeat center;
    }

    .introduce-box .flex_5 {
        height: 100%;
        background: url('__THEMES__/defualt/img/about/about-icon-new-05.png') no-repeat center;
    }

    .introduce-box .title {
        font-size: 26px;
        font-weight: bold;
    }

    .introduce-box .desc {
        font-size: 16px;
    }
    .introduce-box .introduce-desc p{
        line-height: 3;
        color: #333;
        margin-bottom: 30px;
    }
    .introduce-box h1{
        color: #333;
    }
    .introduce-box .introduce-wrap2{
         background-color: #f5f6f7;

    }
    .introduce-box .introduce-wrap2 > div{
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
    }
    .introduce-box .introduce-wrap2 .desc1 {
    margin: 30px 0 80px 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #333;
}
.introduce-box .introduce-wrap2 .card .title1 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
    color: 333333;
}
.introduce-box .introduce-wrap2 .card .introduce {
    font-size: 12px;
    line-height: 24px;
    color: #666;
}
.introduce-wrap3{
    margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
}
.introduce-wrap3 .title3{
    margin-bottom: 14px;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    font-weight: bold;
}
.introduce-wrap3 .desc3{
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.introduce-wrap3 .list > div{
    width: 20%;
}
</style>