<div class="join-box">
    <div class="py-4">
        <div class="title text-center py-5">走进七朵云</div>
        <div>
            <p style="text-indent: 2em;">七朵云核心团队拥有多年的行业经验，拥有一支由多名网络安全专家、软件工程师、系统工程师组成的拥有积极向上、团结创新、吃苦耐劳精神的服务团队。</p>
            <p style="text-indent: 2em;">七朵云关注员工的发展与创新。有竞争力的薪酬只是基础性的回报，我们更注重于打造员工持股、年终分红、持续的意外激励等富有吸引力的团队共赢模式。</p
                style="text-indent: 2em;">
            <p style="text-indent: 2em;line-height: 2;">云计算、互联网的“风”口上乘势而上，而你能否把握机遇和我们一起展翅飞翔？
                高手云集于此，运筹帷幄之中，决胜千里之外，站在肩膀上，你无法错过的选择！因为在这里，被埋没就是一种罪过。</p style="text-indent: 2em;">
        </div>
        <div>
            <div class="row">
                <div class="col-3 mb-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3 mb-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>
                <div class="col-3">
                    <img width="100%" src="__THEMES__/defualt/img/index/v-gpu_ce5bc45.png"
                        alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="py-4">
        <div>
            <div class="title text-center py-5">员工福利</div>

            <div>
                <div class="row text-center welfare">
                    <div class="col-3 mb-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>五险一金</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>带薪休假</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>团建活动</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>员工关爱</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>免费下午茶</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>年底双薪</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>员工持股</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-left w-100">
                            <div class="card-body">
                                <i class="iconfont icon-plugin"></i>
                                <p>更多福利</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4">
        <div class="title text-center py-5">热招职位</div>
        <div>
            <div class="mt-2">
                <a class="btn btn-outline-secondary btn-lg w-100" style="border:1px solid #e9e9e9;"
                    data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="float-left">高级PHP开发工程师 （3人）</span>
                    <span class="float-right">深圳 <i class="iconfont icon-icon_dingwei-xian"></i></span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p>大专或以上|3年以上工作经验|普通话|25-40岁</p>
                        <div>
                            <span class="text-primary">岗位职责</span>
                            <ul>
                                <li>公司产品及平台的开发与维护。</li>
                            </ul>
                        </div>
                        <div>
                            <span class="text-primary">任职要求</span>
                            <ul>
                                <li>3年以上PHP开发经验</li>
                                <li>精通PHP7编程</li>
                                <li>代码习惯较好，精通各种入侵原理以及防范</li>
                                <li>有良好的沟通能力、责任心、为人开朗</li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning text-white">投递简历</button>
                            <button class="btn btn-outline-warning">联系HR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <a class="btn btn-outline-secondary btn-lg w-100" style="border:1px solid #e9e9e9;"
                    data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                    aria-controls="collapseExample1">
                    <span class="float-left">高级PHP开发工程师 （3人）</span>
                    <span class="float-right">深圳 <i class="iconfont icon-icon_dingwei-xian"></i></span>
                </a>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        <p>大专或以上|3年以上工作经验|普通话|25-40岁</p>
                        <div>
                            <span class="text-primary">岗位职责</span>
                            <ul>
                                <li>公司产品及平台的开发与维护。</li>
                            </ul>
                        </div>
                        <div>
                            <span class="text-primary">任职要求</span>
                            <ul>
                                <li>3年以上PHP开发经验</li>
                                <li>精通PHP7编程</li>
                                <li>代码习惯较好，精通各种入侵原理以及防范</li>
                                <li>有良好的沟通能力、责任心、为人开朗</li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning text-white">投递简历</button>
                            <button class="btn btn-outline-warning">联系HR</button>
                        </div>
                    </div>
                </div>
            </div class="mt-2">
        </div>
    </div>
</div>
<style>
    .join-box>div:nth-child(1),
    .join-box>div:nth-child(3) {
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
    }

    .join-box>div:nth-child(2) {
        background: #f5f6f7;
    }

    .join-box>div:nth-child(2)>div {
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1200px;
    }

    .join-box .title {
        font-size: 40px;
        font-weight: bold;
    }

    .join-box .welfare .card-body {
        text-align: center;
        color: #333;
    }

    .join-box .welfare .card-body .iconfont {
        font-size: 40px;
    }

    .join-box .welfare .card-body p {
        font-size: 16px;
    }
</style>