.fs-12 {
  font-size: 12px;
}
.text-height-1 {
  line-height: 1;
}
.text-height-2 {
  line-height: 2;
}
.text-height-3 {
  line-height: 3;
}
.empty {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
.empty i {
  font-size: 30px;
}
.fs-10 {
  font-size: 10px;
}
.v2admin_box .v2admin_content .v2admin_content_left a {
  padding: 7px;
}
.v2admin_box .v2admin_content .right_side_box {
  width: 140px;
}
.v2admin_box .user_box .success_tag {
  background-color: #60C74C;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 3px;
  margin-top: 2px;
}
.v2admin_box .user_box .bad_tag {
  background-color: #b8b8b8;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 3px;
  margin-top: 2px;
}
.v2admin_box .user_box .set_btn {
  position: relative;
  vertical-align: middle !important;
  float: right;
}
.v2admin_box .user_box .set_btn .iconfont {
  display: none;
  width: 0;
  height: 0;
}
.v2admin_box .user_box .set_btn .iconfont + br {
  display: none;
}
.v2admin_box .user_box .set_btn > div > div {
  display: flex;
}
.v2admin_box .user_box .set_btn > div > div > div {
  width: 40px;
}
.v2admin_box .user_box .set_check {
  position: relative;
  cursor: pointer;
}
.v2admin_box .user_box .set_check > div.form-check {
  border: 1px solid #ddd;
  padding: 2px 5px;
  border-radius: 1px;
}
.v2admin_box .user_box .set_check > div.form-check span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #b4b2b2;
}
.v2admin_box .user_box .set_check > div.check_list {
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 7px 1px #ccc;
  width: 90px;
  height: 65px;
  top: 51px;
  left: 27px;
  background-color: #fff;
  z-index: 9;
}
.v2admin_box .user_box .set_check > div.check_list::before {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0px;
  left: 10px;
  top: -5px;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-43deg);
  box-shadow: 2px -2px 2px #ccc;
}
.setting-box .border-bottom {
  border-bottom: 1px solid #ededed !important;
}
.m-input-file {
  height: 100px;
  width: 100px;
  position: relative;
  cursor: pointer;
}
.m-input-file div {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.m-input-file input {
  cursor: pointer;
  height: 100px;
  width: 100px;
  opacity: 0;
}
.m-input-switch input {
  width: 50px;
  height: 20px;
  border: 1px solid #b8b8b8;
}
