{extend name='HomeCommon/index' /}
{block name='content'}

<div class="ssl-page">
    <div class="ssl-banner">
        <div class="ssl-banner-bg">
            <div class="ssl-banner-box1">
                <div class="ssl-banner-box">
                    <h1>SSL证书</h1>
                    <div class="desc">
                        SSL证书提供了一种在互联网上身份验证的方式，是用来标识和证明双方身份的数字信息文件。使用SSL证书的网站，可以保证用户和服务器间信息交换的保密性具有不可窃听、不可更改、不可否认、不可冒充的功能。
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary mr-2">立即选购</button>
                        <button type="button" class="btn btn-outline-light">管理控制台</button>
                    </div>
                    <div>开启HTTPS加密新时代</div>
                </div>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="anchor" href="#nav1">特点与优点</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav2">服务优势</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav3">面板优势</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav4">节点介绍</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav5">托管流程</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav6">产品推荐</a>
                    <a class="nav-item nav-link" data-toggle="anchor" href="#nav7">常见问题</a>
                </div>
            </nav>
        </div>
        <div style="background: #ffffff;">
            <div class="ssl-tab-content" id="nav-tabContent">
                <a name="nav1"></a>
                <div class="tab-pane show active bg-white">
                    <div class="pb-5 pt-3">
                        <h2 class="text-center text-dark text-height-3">证书品牌</h2>
                        <div class="row brand-tabs">
                            <ul class="p-0 w-100 mb-0">
                                <li class="tab-active brand-item-1" data-tab="#dtab1">
                                    <div class="active-style"><span></span></div>
                                </li>
                                <li class="brand-item-2" data-tab="#dtab2">
                                    <div class="active-style"><span></span></div>
                                </li>
                                <li class="brand-item-3" data-tab="#dtab3">
                                    <div class="active-style"><span></span></div>
                                </li>
                                <li class="brand-item-4" data-tab="#dtab4">
                                    <div class="active-style"><span></span></div>
                                </li>
                                <li class="brand-item-5" data-tab="#dtab5">
                                    <div class="active-style"><span></span></div>
                                </li>
                            </ul>
                            <div class="tab-cent border p-5">
                                <div class="d-block" id="dtab1">
                                    <div class="row">
                                        <div class="col-3 p-3">
                                            <img src="__TEMP__/defualt/img/ssl/brand_1.png" alt="" class="w-100">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-dark text-height-3">信息安全领域全球领先的解决方案提供商，全球最大的信息安全厂商和服务商</h5>
                                            <h6>Symantec是全球最大的数字证书认证机构，为网站、电子商务及通讯提供安全保护。Symantec通过强大的加密功能和严格的身份认证，保护着全世界超过50万台服务器的安全。</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none" id="dtab2">
                                    <div class="row">
                                        <div class="col-3 p-3">
                                            <img src="__TEMP__/defualt/img/ssl/brand_2.png" alt="" class="w-100">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-dark text-height-3">全球第二大数字证书颁发机构 (CA)，身份认证和信任认证领域的领导者</h5>
                                            <h6>GeoTrust是全球第二大数字证书颁发机构，也是身份认证和信任认证领域的领导者，该公司各种先进的技术使得任何大小的机构和公司都能安全、低成本地部署SSL数字证书和实现各种身份认证。</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none" id="dtab3">
                                    <div class="row">
                                        <div class="col-3 p-3">
                                            <img src="__TEMP__/defualt/img/ssl/brand_3.png" alt="" class="w-100">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-dark text-height-3">Thawte是在美国以外的第一个SSL证书颁发机构，目前在全球SSL市场中占有40%的份额</h5>
                                            <h6>Thawte是第一个在美国以外的SSL证书颁发机构，目前全球SSL市场中占有40%的份额。迄今为止，Thawte证书发行量超过94.5万，服务于全球240多个国家。</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none" id="dtab4">
                                    <div class="row">
                                        <div class="col-3 p-3">
                                            <img src="__TEMP__/defualt/img/ssl/brand_4.png" alt="" class="w-100">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-dark text-height-3">GeoTrust 公司的一个面向低端用户提供简易版SSL证书的品牌</h5>
                                            <h6 >RapidSSL是GeoTrust公司的一个向提供简易版SSL证书的品牌，保护网站信息不会被非法窃取和非法篡改，为不涉及到银行卡信息的网站提供一个更低价格的服务器SSL数字证书。</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none" id="dtab5">
                                    <div class="row">
                                        <div class="col-3 p-3">
                                            <img src="__TEMP__/defualt/img/ssl/brand_5.png" alt="" class="w-100">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-dark text-height-3">国内第一款具有自主知识产权且已得到全球各个浏览器信任的产品</h5>
                                            <h6 >CNNIC是国内第一款具有自主知识产权且已得到全球各个浏览器信任的产品，支持中文域名和中文机构名称显示，符合国情，运营系统在国内，服务稳定，不受国际线路故障影响。</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a name="nav2"></a>
                <div class="tab-pane show active bg-light nav2">
                    <div class="pb-5 pt-3">
                        <h2 class="text-center text-dark text-height-3">特点与优势</h2>
                        <div class="row">
                            <div class="col-6 mt-3">
                                <div class="card">
                                    <div class="row m-2">
                                        <div class="col-3 p-3"><img src="__TEMP__/defualt/img/ssl/virtue_1.png" alt=""
                                                width="100%"></div>
                                        <div class="col-9 p-4 d-flex align-content-center flex-wrap">
                                            <h3 class="text-dark">纯SSD架构</h3>
                                            <h4>搭载高速Sas3 SSD固态硬盘，随机读写最高达到50000IOPS，吞吐量最高可达800Mb/s</h4>
                                            <h6 class="text-secondary text-height-1half">
                                                数字证书授权机构（CA，CertificateAuthority）是管理和签发安全凭证和加密信息安全密钥的网络机构，承担公钥体系中公钥的合法性检验的责任，需要对用户、企业的身份真实性进行验证，其权威性、公正性十分重要， 七朵云只选择和顶级权威的CA机构合作，提供安全有保障的
                                                SSL证书。</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="card">
                                    <div class="row m-2">
                                        <div class="col-3 p-3"><img src="__TEMP__/defualt/img/ssl/virtue_2.png" alt=""
                                                width="100%"></div>
                                        <div class="col-8 p-4 d-flex align-content-center flex-wrap">
                                            <h3 class="text-dark">免费5-20G攻击防护</h3>
                                            <h4>免费提供5-20G恶意攻击防护，轻松抵御DDoS等网络攻击。</h4>
                                            <h6 class="text-secondary text-height-1half">
                                                采用HTTPS加密APP及网页通讯，防止数据在传送过程中被窃取、篡改，确保数据的完整性；防止运营商的流量劫持、网页植入广告现象；同时有效抵挡中间人的攻击，大大提升安全性。
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="card">
                                    <div class="row m-2">
                                        <div class="col-3 p-3"><img src="__TEMP__/defualt/img/ssl/virtue_3.png" alt=""
                                                width="100%"></div>
                                        <div class="col-8 p-4 d-flex align-content-center flex-wrap">
                                            <h3 class="text-dark">标准在线管理，资源弹性伸缩</h3>
                                            <h4>服务器全程状态跟踪可见，资源支持按需付费，灵活进行弹性扩展。</h4>
                                            <h6 class="text-secondary text-height-1half">
                                                兼容性关系到用户访问时浏览器是否会正确给予网页安全的提示，Symantec根证书的浏览器兼容性目前市场上排名第一，支持目前所有主流的浏览器和移动设备。
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="card">
                                    <div class="row m-2">
                                        <div class="col-3 p-3"><img src="__TEMP__/defualt/img/ssl/virtue_4.png" alt=""
                                                width="100%"></div>
                                        <div class="col-8 p-4 d-flex align-content-center flex-wrap">
                                            <h3 class="text-dark">7*24小时不间断服务</h3>
                                            <h4>7*实时监控系统及维护人员7*24小时全程专业护航，超快服务响应，迅速解决问题。</h4>
                                            <h6 class="text-secondary text-height-1half">
                                                2014年Google调整了搜索引擎算法，比起同等HTTP网站，采用HTTPS加密的网站在搜索结果中的排名将会更高，同时国内的搜索引擎厂商也在加强对HTTPS的重视，采用HTTPS可以辅助站点的SEO优化。
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a name="nav3"></a>
                <div class="tab-pane show active bg-white nav3">
                    <div class="pb-5 pt-3">
                        <h2 class="text-center text-dark text-height-3">推荐套餐</h2>
                        <div class="row recommend">
                            <div>
                                <div class="text-center pt-4">
                                    <h3 class="text-dark pt-3">Symantec Basic DV</h3>
                                    <h5>体验型DV SSL</h5>
                                </div>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>支持域名数单个</td>
                                                <td>单个 <i class="iconfont icon-wenhao" data-toggle="tooltip" data-placement="right" title="如：www.qiduo.com 或 qiduo.com"></i></td>
                                            </tr>
                                            <tr>
                                                <td>支持通配符否</td>
                                                <td>否</td>
                                            </tr>
                                            <tr>
                                                <td>加密强度</td>
                                                <td>最高支持256位自适应加密</td>
                                            </tr>
                                            <tr>
                                                <td>支持苹果ATS是</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>包含企业信息</td>
                                                <td>--</td>
                                            </tr>
                                            <tr>
                                                <td>绿色地址栏</td>
                                                <td>--</td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                    <p ><s class="text-black-50">市场价：1000元/年</s>  <span class="text-warning">1</span>元/年</p>
                                    <button type="button" class="btn btn-warning text-white">立即购买</button>
                                </div>
                            </div>
                            <div>
                                <div class="text-center pt-4">
                                    <h3 class="text-dark pt-3">RapidSSL</h3>
                                    <h5>普通型DV SSL</h5>
                                </div>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>支持域名数单个</td>
                                                <td>单个 <i class="iconfont icon-wenhao" data-toggle="tooltip" data-placement="right" title="如：www.qiduo.com 或 qiduo.com"></i></td>
                                            </tr>
                                            <tr>
                                                <td>支持通配符否</td>
                                                <td>否</td>
                                            </tr>
                                            <tr>
                                                <td>加密强度</td>
                                                <td>最高支持256位自适应加密</td>
                                            </tr>
                                            <tr>
                                                <td>支持苹果ATS是</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>包含企业信息</td>
                                                <td>--</td>
                                            </tr>
                                            <tr>
                                                <td>绿色地址栏</td>
                                                <td>--</td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                    <p ><s class="text-black-50">市场价：350元/年</s>  <span class="text-warning">200</span>元/年</p>
                                    <button type="button" class="btn btn-warning text-white">立即购买</button>
                                </div>
                            </div>
                            <div>
                                <div class="text-center pt-4">
                                    <h3 class="text-dark pt-3">RapidSSL Wildcard</h3>
                                    <h5>普通型DV SSL</h5>
                                </div>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>支持域名数单个</td>
                                                <td>无限个二级子域名<i class="iconfont icon-wenhao" data-toggle="tooltip" data-placement="right" title="如：*.qiduo.com"></i></td>
                                            </tr>
                                            <tr>
                                                <td>支持通配符否</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>加密强度</td>
                                                <td>最高支持256位自适应加密</td>
                                            </tr>
                                            <tr>
                                                <td>支持苹果ATS是</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>包含企业信息</td>
                                                <td>--</td>
                                            </tr>
                                            <tr>
                                                <td>绿色地址栏</td>
                                                <td>--</td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                    <p ><s class="text-black-50">市场价：2000元/年</s>  <span class="text-warning">1200</span>元/年</p>
                                    <button type="button" class="btn btn-warning text-white">立即购买</button>
                                </div>
                            </div>
                            <div>
                                <div class="text-center pt-4 align-content-center flex-wrap">
                                    <h3 class="text-dark">
                                        <span>GeoTrust True</span>
                                        <p>BusinessID with EV</p>
                                        </h3>
                                    <h5>高级版EV SSL</h5>
                                </div>
                                <div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>支持域名数单个</td>
                                                <td>单个，可选多个<i class="iconfont icon-wenhao" data-toggle="tooltip" data-placement="right" title="如：www.qiduo.com 或 qiduo.com"></i></td>
                                            </tr>
                                            <tr>
                                                <td>支持通配符否</td>
                                                <td>否</td>
                                            </tr>
                                            <tr>
                                                <td>加密强度</td>
                                                <td>最高支持256位自适应加密</td>
                                            </tr>
                                            <tr>
                                                <td>支持苹果ATS是</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>包含企业信息</td>
                                                <td>是</td>
                                            </tr>
                                            <tr>
                                                <td>绿色地址栏</td>
                                                <td>是</td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                    <p ><s class="text-black-50">市场价：4800元/年</s>  <span class="text-warning">3300</span>元/年</p>
                                    <button type="button" class="btn btn-warning text-white">立即购买</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a name="nav4"></a>
                <div class="tab-pane show active bg-light nav4">
                    <div class="py-5">
                        <h2 class="text-center">证书类型</h2>
                        <div class="row mt-4">
                            <table class="table bg-white table-bordered text-center">
                                <tr>
                                    <td>对比项</td>
                                    <td>DV SSL</td>
                                    <td>OV SSL</td>
                                    <td>EV SSL</td>
                                </tr>
                                <tr>
                                    <td>绿色地址栏</td>
                                    <td><span>小锁标记 + HTTPS</span></td>
                                    <td><span>小锁标记 + HTTPS</span></td>
                                    <td><span>小锁标记 + HTTPS</span></td>
                                </tr>
                                <tr>
                                    <td>一般用途</td>
                                    <td>个人站点和应用；简单的HTTPS加密需求</td>
                                    <td>商务站点和应用；中小型企业站点</td>
                                    <td>大型金融平台；大型企业和政府机构站点</td>
                                </tr>
                                <tr>
                                    <td>审核内容</td>
                                    <td>域名所有权验证</td>
                                    <td>全面的企业身份验证；域名所有权验证</td>
                                    <td>最高等级的企业身份验证；域名所有权验证</td>
                                </tr>
                                <tr>
                                    <td>颁发时长</td>
                                    <td>10分钟-1小时</td>
                                    <td>3-5个工作日</td>
                                    <td>5-7个工作日</td>
                                </tr>
                                <tr>
                                    <td>单次申请年限</td>
                                    <td>1-2年</td>
                                    <td>1-2年</td>
                                    <td>1-2年</td>
                                </tr>
                                <tr>
                                    <td>购买</td>
                                    <td><button type="button" class="btn btn-sm btn-warning text-white">立即选购</button></td>
                                    <td><button type="button" class="btn btn-sm btn-warning text-white">立即选购</button></td>
                                    <td><button type="button" class="btn btn-sm btn-warning text-white">立即选购</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <a name="nav5"></a>
                <div class="nav5 tab-pane show active bg-white">
                    <div class="py-5">
                        <h2 class="text-center text-dark">购买流程</h2>
                        <div class="mt-5">
                            <div class="">
                                <img src="__TEMP__/defualt/img/ssl/sslimg.png" alt="" width="100%">
                            </div>
                            <div class="ssl_stpe">
                                <span>
                                    1.选择产品
                                    <div class="text-black-50">根据您自己需求</div>
                                    <span class="text-black-50">选择适合的SSL产品证书</span>
                                </span>
                                <span>2.提交CSR信息
                                    <div class="text-black-50">根据服务器信息提交</div>
                                    <span class="text-black-50">CSR和您的联系信息</span>
                                </span>
                                <span>3.验证域名所有权
                                    <div class="text-black-50">提交到证书颁发机构后</div>
                                    <span class="text-black-50">将验证域名所有权</span>
                                </span>
                                <span>
                                    <div> 4.签发证书</div> 
                                    <div class="text-black-50">提交到证书颁发机构后</div>
                                    <span class="text-black-50">将验证域名所有权</span>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <a name="nav6"></a>
                <div class="tab-pane show active q_list bg-light">
                    <div class="py-5">
                        <h2 class="text-center text-dark">常见问题</h2>
                        {include file='../public/template/default/Home/Problem/index.html'}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name='js'}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('.brand-tabs li').click(function(){
        $(this).addClass('tab-active');
        $(this).siblings().removeClass('tab-active');
        console.log()
        $($(this).data("tab")).addClass('d-block');
        $($(this).data("tab")).siblings().addClass('d-none');
        $($(this).data("tab")).siblings().removeClass('d-block');
  })
})
</script>
{/block}