{extend name='index@Common/index' /} {block name='content'}
<div class="card">
    <div class="card-header  border-t pb-0" style="background-color: #fff">
        <div class="tool-list d-flex">
            <ul class="list-inline mr-auto  m-0">
                <li class="list-inline-item p-2" style="border-bottom:3px solid #108cee;">
                    <h4 style="color: #108cee;">云主机</h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body fs-12">
        <div class="cont-box">
            123131
        </div>
    </div>
</div>
{/block} {block name='js'}
<script>
</script>
{/block}