<div style="width: 100% !important;" class="security">
    <div class="p-1">
        <span>安全组：</span>
        <button type="button" class="btn btn-sm btn-primary ml-5" data-toggle="modal"
        data-target=".add_security">新建安全组</button>
    </div>
    <div class="alert alert-info">提示：新增策略/删除策略后，请点击应用按钮生效。</div>
    <div class="mb-4 pb-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th class="text-right">操作</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="zhu mr-2">当前</span>默认安全组</td>
                    <td>系统默认</td>
                    <td>系统默认安全组</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target=".set_security">应用</button>
                        <button type="button" class="btn btn-sm btn-danger">查看</button>
                    </td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>

    <div class="modal fade add_security" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">新建安全组</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input type="text" placeholder="请输入安全组的名称"  class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="安全组备注（限制 20 字）"  class="form-control">
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm">确定</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade set_security" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">应用 <默认安全组> 安全组</h5>
                </div>
                <div class="modal-body">
                    <p>确定应用 <默认安全组> 安全组吗？</p>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm">确定</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade see_security" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">删除备份</h5>
                </div>
                <div class="modal-body">
                    <p>确定对选中的云主机进行删除备份吗？</p>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm">确定</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .security .table tr{
        border-bottom: 1px solid #dee2e6;
    }
    .security .table th,.security .table td{
        line-height: 46px;
        padding: 0 !important;
        font-size: 14px;
    }
    .security .table th:nth-child(1){
        text-align: left !important;
    }
    .security .btn{
        font-size: 12px;
    }
    .security .zhu{
        display: inline-block;
        line-height: 1.5;
        padding: 0 5px;
        background: #007bff;
        color:#fff;
    }
</style>
<script>

</script>