<!-- axios BasicConfig -->
<script src="__THEMES__/manager/js/lib/popper.min.js"></script>
<script src="__THEMES__/manager/js/lib/bootstrap.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="__STATIC__/plugins/iCheck/icheck.min.js"></script>
<!-- daterangepicker -->
<script src="__STATIC__/bower_components/moment/min/moment.min.js"></script>
<script src="__STATIC__/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="__STATIC__/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- DataTables -->
<script src="__STATIC__/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__STATIC__/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Ueditor -->
<script src="__THEMES__/manager/ueditor/ueditor.config.js"></script>
<script src="__THEMES__/manager/ueditor/ueditor.all.js"></script>

<!-- Echarts -->
<script src="__THEMES__/manager/js/lib/echarts.min.js"></script>
<script src="__THEMES__/manager/js/lib/Etheme.js"></script>

<script src="__THEMES__/defualt/js/lib/axios.min.js"></script>
<script src="__THEMES__/defualt/js/lib/js.cookie.min.js"></script>
<script src="__THEMES__/defualt/js/lib/lodash.min.js"></script>
<script src="__THEMES__/defualt/js/lib/qs.min.js"></script>
<script src="__THEMES__/defualt/js/lib/decimal.min.js"></script>
<script src="__THEMES__/manager/js/app.js"></script>
<script src="__THEMES__/manager/js/rule.js"></script>
<script src="__THEMES__/manager/js/index.js"></script>
<script src="__THEMES__/manager/js/temp.js"></script>
