{extend name='Common/index' /}
{block name='content'}
<div class="card bg-white">
  <div class="card-header toolbar bg-light d-flex p-3">
    <h5 class="m-0">{$info?'修改':'新增'}用户组</h5>
  </div>
  <div class="card-body pb-0">
    <div class="table-box">
      <div class="form">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">组名</label>
          <div class="col-2">
            <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="请输入用户名"
              value="{$info?$info['name']:''}" autocomplete="off">
            <input type="hidden" name="id" value="{$info?$info['id']:''}">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">代理商分组</label>
          <div class="col-2">
            <select class="form-control form-control-sm" name="is_agent">
              <option value="0" {$info?$info['is_agent']==0?'selected':'':''}>否</option>
              <option value="1" {$info?$info['is_agent']==1?'selected':'':''}>是</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-2">
            <button type="button" class="btn btn-primary btn-sm sub">提交</button>
            <a href="javascript:history.go(-1);" class="btn btn-default btn-sm">返回</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name='js'}
<!-- <script src="__STATIC__/dist/js/formBasic.js"></script> -->
<script>
  $('.sub').click(function () {
    let names = document.querySelectorAll('.form-group > div > [name]'),
      vals = {};
    names = [].slice.call(names);
    names.map((e) => {
      vals[e.name] = e.value;
    });
    ajax('{:url("manager/User/addgroupAuth")}', vals, 'post').then(e => {
      if (e.status === 200) {
        alert(e.msg);
        location.href = "{:url('manager/User/group')}";
      } else {
        alert(e.msg);
      }
    });
  });
</script>
{/block}