<div style="width: 100% !important;" class="network">
    <div class="p-1">
        <span>光驱：</span>
    </div>
    <div class="alert alert-info">挂载ISO将修改启动顺序改为CD启动，卸载后为硬盘启动
    </div>
    <div class="mb-4 pb-4">
        <table class="table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>文件描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" colspan="3">暂无任何媒介</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>

</style>
<script>

</script>