<div style="width: 100% !important;" class="">

    <div class="mb-4 bt-1 pb-4">
        <h5 class="card-title">流量使用率</h5>
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text lable">上行流量:</p>
                    <p class="card-text labletext _netin">- Kb</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text lable">下行流量:</p>
                    <p class="card-text labletext _netout">- Kb</p>
                </div>
            </div>
            <!-- <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text lable mb-3">上行带宽：<span>- Mbps</span></p>
                    <p class="card-text lable">下行带宽：<span>- Mbps</span></p>
                </div>
            </div> -->
        </div>
    </div>

    <div style="height: 400px; width: 100%  !important; ">
        <div>CPU</div>
        <div id="cpu_chart" style="height: 400px; width: 100%;"></div>
    </div>
    <div style="height: 400px; width: 100%  !important;">
        <div>网络 <span>单位：KB</span></div>
        <div id="grid_chart" style="height: 400px; width: 100%;"></div>
    </div>
    <div style="height: 400px; width: 100%;">
        <div>硬盘 <span>单位：KB</span></div>
        <div id="disk_chart" style="height: 400px; width: 100%;"></div>
    </div>
</div>

<script>
</script>