
{include file="public:header"}

<body>
    <div class="m-upload">
        <div class="upload-box">
            <div class="upload-header">
                <div class="upload-header-left">
                    <img src="/static/install/images/geestack.png" alt="">
                    <span>安装向导</span>
                </div>
                <div class="upload-header-right">
                    <span>Geecp 简体中文 UTF8 版 202010201</span>
                </div>
            </div>
            <div class="upload-body1">
                <div class="upload-body-box2">
                    <div class="title">
                        <div >恭喜你，安装成功</div>
                        <div></div>
                    </div>
                    <div class="center-text4">
                        <div class="div_attion">注意事项：</div>
                        <ul class="ul_attion">
                            <li>为了您的站点安全，安装完成后您有两种方式删除安装程序</li>
                        </ul>
                        <div class="over">
                            <a type="button" href="/">进入首页</a>
                            <a type="button" href="/manager">管理后台</a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="upload-footer">
                {include file="public:copyright"}
            </div>
        </div>
    </div>


</body>
</html>