{extend name='Common/index' /} {block name='content'}
<div class="card bg-white">
  <div class="card-header toolbar bg-light d-flex p-3">
    <h5 class="m-0">{$info?'修改':'新增'}增值服务组</h5>
  </div>
  <div class="card-body pb-0">
    <div class="table-box">
      <div class="form">
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">增值服务名称</label>
          <div class="col-2">
            <input type="text" class="form-control form-control-sm" id="title" name="title" placeholder="请输入增值服务名称"
              value="{$info?$info['title']:''}" autocomplete="off">
            <input type="hidden" name="id" value="{$info?$info['id']:''}">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">增值服务标识</label>
          <div class="col-2">
            <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="请输入增值服务标识"
              value="{$info?$info['name']:''}" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <label for="slogan" class="col-sm-2 control-label">增值服务标语</label>
          <div class="col-2">
            <textarea name="slogan" id="slogan" class="form-control form-control-sm" cols="30" rows="10"
              placeholder="请输入增值服务标语">{$info?$info['slogan']:''}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">增值服务类型</label>
          <div class="col-2">
            <select name="type" id="type" class="form-control form-control-sm">
              <option value="1" {$info['type']==="1" ?'selected':''}>单选组</option>
              <option value="2" {$info['type']==="2" ?'selected':''}>下拉菜单</option>
              <option value="3" {$info['type']==="3" ?'selected':''}>输入框</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="sort" class="col-sm-2 control-label">排序</label>
          <div class="col-2">
            <input type="text" class="form-control form-control-sm" id="sort" name="sort" placeholder="请输入排序"
              value="{$info?$info['sort']:''}" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-2">
            <button type="button" class="btn btn-primary btn-sm sub">提交</button>
            <a href="javascript:history.go(-1);" class="btn btn-default btn-sm">返回</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block} {block name='js'}
<!-- <script src="__STATIC__/dist/js/formBasic.js"></script> -->
<script>
  $('.sub').click(function () {
    let names = document.querySelectorAll('.form-group > div > [name]'),
      vals = {};
    names = [].slice.call(names);
    names.map((e) => {
      vals[e.name] = e.value;
    });
    ajax('{:url("manager/Product/addaddedgroupAuth")}', vals, 'post').then(e => {
      if (e.status === 200) {
        alert(e.msg);
        location.href = "{:url('manager/Product/added')}";
      } else {
        alert(e.msg);
      }
    });
  });
</script>
{/block}