{extend name='Common/index' /}
{block name='content'}
<div class="card bg-white">
  <div class="card-header toolbar bg-light d-flex p-3">
    邮件设置
  </div>
  <div class="card-body border-0 py-0">
    <div class="table-box px-3 pb-3">
      <form class="needs-validation" novalidate>
        <div class="form-group border-bottom pb-3 pt-3">
          <label>SMTP服务器:</label>
          <div class="col form-inline px-0">
            <input type="text" id="host" name="host" class="form-control form-control-sm col-2 mr-3"
              value="{$info?$info['host']:''}">
            <input type="hidden" name="id" value="{$info?$info['id']:''}">
            <small class="text-muted ">请输入SMTP服务器地址 </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput2">SMTP端口:</label>
          <div class="col form-inline px-0">
            <input type="text" id="port" name="port" class="form-control form-control-sm col-2 mr-3" value="{$info?$info['port']:''}" >
            <small id="setinput2HelpInline" class="text-muted ">请输入SMTP端口号 </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>

        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput3">SMTP用户名:</label>
          <div class="col form-inline px-0">
            <input type="text" id="username" name="username" class="form-control form-control-sm col-2 mr-3"value="{$info?$info['username']:''}">
            <small id="setinput3HelpInline" class="text-muted ">
              请输入SMTP用户名
            </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput4">SMTP密码:</label>
          <div class="col form-inline px-0">
            <input type="password" id="password" name="password" placeholder="" class="form-control form-control-sm col-2 mr-3" value="{$info?$info['password']:''}">
            <small id="setinput4HelpInline" class="text-muted ">
              请输入SMTP密码
            </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput5">SMTP验证方式:</label>
          <div class="col form-inline px-0">
            <select name="secure" id="secure" class="custom-select custom-select-sm col-2">
              <option value="" {$info?$info['secure'] == ''?'selected':'':''}>不加密</option>
              <option value="ssl" {$info?$info['secure'] == 'ssl'?'selected':'':''}>SSL</option>
              <option value="tls" {$info?$info['secure'] == 'tls'?'selected':'':''}>TLS</option>
            </select>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput6">发件人信箱:</label>
          <div class="col form-inline px-0">
            <input type="text" id="email" name="email" class="form-control form-control-sm col-2 mr-3" value="{$info?$info['email']:''}">
            <small id="setinput6HelpInline" class="text-muted ">
              请输入发件人信箱
            </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div class="form-group border-bottom pb-3">
          <label for="setinput7">发件人姓名:</label>
          <div class="col form-inline px-0">
            <input type="text" id="emailname" name="emailname" class="form-control form-control-sm col-2 mr-3" value="{$info?$info['emailname']:''}">
            <small id="setinput7HelpInline" class="text-muted ">
              请输入发件人姓名
            </small>
          </div>
          <div class="valid-feedback">
            ok
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-sm px-5 sub"> 提交</button>
          <a href="javascript:history.go(-1);" class="btn btn-outline-secondary btn-sm px-5">返回</a>
        </div>
      </form>
    </div>
  </div>
</div>
{/block}
{block name='js'}
<!-- <script src="__STATIC__/dist/js/formBasic.js"></script> -->
<script>
  $('.sub').click(function () {
    let names = document.querySelectorAll('.form-group [name]'),
      vals = {};
    names = [].slice.call(names);
    names.map((e) => {
      vals[e.name] = e.value;
    });
    ajax('{:url("manager/System/emailAuth")}', vals, 'post').then(e => {
      if (e.status === 200) {
        alert(e.msg);
        location.href = "{:url('manager/System/email')}";
      } else {
        alert(e.msg);
      }
    });
  });
</script>
{/block}